.ChangeAlert-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1e1e1f50;
  z-index: 2;
}

.ChangeAlert-container {
  position: fixed;
  bottom: -10px;
  left: -10px;
  right: -10px;
  padding: 34px;
  background: #1e1e1fba;
  text-align: center;
}